[creds]
name=zaisdatalakev2
creds=UYsdrLDO/LVPx8QjV6iOssGXuGKUWPygrTfa/a3rnDN9ieDc/XCr7O2nuZQ8TDRISuKQBtIjIT4U/qoV2oAUIQ==
connection_string=DefaultEndpointsProtocol=https;AccountName=zaisdatalakev2;AccountKey=UYsdrLDO/LVPx8QjV6iOssGXuGKUWPygrTfa/a3rnDN9ieDc/XCr7O2nuZQ8TDRISuKQBtIjIT4U/qoV2oAUIQ==;EndpointSuffix=core.windows.net%
